 
  .slider-container {
    position: relative;
    width: 100%;
    height: 85vh;
    overflow: hidden;
  }
  
  .slider {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Estilos de la barra de navegación */
  .nav {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 100px;
  }
  
  .prev, .next {
    background-color: #fff;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .prev:hover, .next:hover {
    background-color: #ccc;
  }
  
  /* Estilos para ocultar/mostrar las imágenes */
  .slide:not(:first-child) {
    transform: translateX(100%);
  }
  
  .slider-container:hover .nav {
    opacity: 1;
  }
  
  .nav {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  /* Estilos para la transición entre imágenes */
  .slider-container:hover .slider {
    transform: translateX(0);
  }
  
  .slider-container:hover .slide:not(:first-child) {
    transform: translateX(0);
  }